<!doctype html>
<html lang="fr">
<head>
    <title>Homepage</title>
    <%- include('partials/head') %>
</head>
<body>
    <main>
        <h1>Welcome back <%= username %></h1>
    </main>
</body>
</html>